/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.hamburger-button {
    border: none;
    background: none;
    cursor: pointer;
}

.hamburger-icon {
    display: block;
    width: 24px;
    height: 2px;
    margin: 4px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}
.menu-closed{
    background-color: red;
    height: 30px;
    width: 40px;
    display: block;
}
.menu-closed {
    display: none;
}

.menu-open {
    display: block;
}

.hamburger-icon {
    display: block;
    width: 24px;
    height: 2px;
    margin: 4px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.cross-icon:before,
.cross-icon:after {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    margin: 4px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.cross-icon:before {
    transform: rotate(45deg);
}

.cross-icon:after {
    transform: rotate(-45deg);
}
.hamburger-icon{
    display: none;
}
@media (max-width: 768px) {
    .hamburger-icon {
        width: 20px;
        display: block;
       
    }
}

